@import url('https://fonts.googleapis.com/css2?family=Alegreya&family=Oswald&family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya&family=Noto+Serif+Vithkuqi:wght@500&family=Oswald&family=Satisfy&display=swap');
*{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 100;
    color: black;
    text-decoration: none;
    box-sizing: border-box;

}
body{
    margin: 0;
    padding: 0;
    background-color: #fff7f0;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #eed9c4;
    /* flex-direction: column; */
    align-items: flex-start;
    flex-direction: column;
    position: fixed;
    top: 0;
    width: 100%;
}
.title {
    font-size: 1.5rem;
    font-family: 'Satisfy', cursive;
    margin: 1rem;
    white-space: nowrap;
}
.navlink{
    display: none;
    width: 100%;
}
.navlink ul{
    width: 100%;
    flex-direction: column;
    text-align: center;
    padding-left: 0; 
}
.navlink li{
    list-style: none;
    text-align: center;
}
.navlink li a{
    padding: .5rem 1rem;
    display: block;
    font-size: 1.2rem;
}
.navlink li:hover{
    background-color: #d9b99b;
    text-decoration: underline;
    font-weight: bold;
}
.navlink li a:hover {
    font-weight: bold;
}
.toggle-button{
    background-color: #EED9C4;
    border: none;
    position: absolute;
    top: 1rem;
    right: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 41px;
    height: 25px;
}
.toggle-button .bar{
    height: 3px;
    width: 100%;
    border-radius: 10px;
    background-color: black;
    
}
.navlink.active{
    display: flex;
}
.homepage{
    /* width: 80%; */
    margin: auto;
    text-align: center;
}

.homepage figcaption, .recipes_page figcaption{
    margin-top: 1vh;
    margin-bottom: 1vh;
    text-align: center;
}
.homepage figcaption:hover, .recipes_page figcaption:hover{
    text-decoration: underline;
    font-weight: bold;
    
}
.homepage img:hover, .recipes_page img:hover{
    transform: scale(1.02);
}
.recommended_recipe{
    /* border: solid 2px black; */
    width: fit-content;
    margin: auto;
    margin-bottom: 2vh;
    box-shadow: 0px 0px 8px 4px rgba(238, 217, 196, 1);
    padding-bottom: .1vh;
}
.recipe{
    width: 80%;
    margin: auto;
}
.recipe img{
    margin: auto;
    display: flex;
}
.recipe h2, .recipe .image_caption,.recipe .servings{
    text-align: center;
}
.recipe h2{
    font-weight: bold;
}
.recipe_instructions h3{
    font-weight: bold;
}
.about_page, .contact_page {
    text-align: center;
    margin: auto;
}

.title_background{
    font-size: 2em;
    background-color: black;
    margin-bottom: 1%; 
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 30%;
    width: 100%;
    color: white;
    text-align: center;
    display: table;
    margin-top: 66px;
}
.title_background h2{
    color: white;
    display: table-cell;
    vertical-align: middle;
}
#recipes_bg{
    background-image: url(images/about_background.jpg);
}
#about_bg {
    background-image: url(images/about_background.jpg);
}
#home_bg {
    background-image: url(images/home_background.jpg);
}
#contact_bg {
    background-image: url(images/contact_background.jpg);
}
footer{
    text-align: center;
    font-size: 1em;
    background-color: #EED9C4;
    padding: 1em;
    
}
footer a{
    text-decoration: underline;
    color: rgb(105, 28, 28);
}
footer a:hover{
    font-weight: bold;
    text-decoration: none;
    
}
.recipes_page,.recipe{
    margin-top:80px
}
.recipes_page h2 {
    font-weight: bold;
    text-align: center;
}
.about_page p{
    margin: 2em;
}
.print-button{
    background-color: white;
    border: 2px solid black;
    padding: 0.5em;
    font-size: 1em;
}
.print-button:hover{
    color: white;
    background-color: black;
    text-decoration: underline;
}
@media screen and (min-width: 680px) {
    .toggle-button {
        display: none;
    }
    .navlink{
        display: flex;
    }
    .navlink ul {
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }
    .navlink li a{
        display: block;
    }
    .navbar{
        display: flex;
    }
    .title{
        font-size: 2em;
    }
    .title_background{
        margin-top: 117px;
    }
    .recipes_page,
    .recipe {
            margin-top: 130px
    }
    .grid-items{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }      
}
@media screen and (min-width: 1024px){
    .grid-items{
        grid-template-columns: 1fr 1fr 1fr;
    }
    .about_grid {
        margin: auto;
        width: 80%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
    }
    
    .about_grid img {
        margin: 2em;
    }
    .recipe{
        width: 800px;
        border: 10px double burlywood;
        box-sizing: border-box;
        padding: 2%;
        margin-bottom: 1em;
    }
    .image_caption{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        margin: auto;
    }
    .image_caption img{
        grid-row: 1/-1;
        margin-top: 5%;
    }
}


